<div class="grid justify-content-center flex-column align-items-center">


  <div class="col-12">
    <div class="grid justify-content-center">


      <div style="text-align: center" class="col-12">
        <div style="border:unset" class="card mb-0">


          <h4>Your Available NFTs</h4>

          <div class="col-12">
            <div class="grid justify-content-center">
              <div *ngFor="let nft of tokensListing">
            <nft-display  (refreshEvent)="getState()" [route]="'ACCOUNT'"  [nft]="nft" ></nft-display>
              </div>
            </div>
          </div>

          <h4>Your Lent NFTs</h4>

          <div class="col-12">
            <div class="grid justify-content-center">
              <div *ngFor="let nft of tokensLent">
            <nft-display  (refreshEvent)="getState()" [route]="'ACCOUNT'"  [nft]="nft" ></nft-display>
              </div>
            </div>
          </div>

          <p-divider></p-divider>
          <p style="margin:20px"> As We are testing....you can mint your NFT</p>
          <p-dropdown 
          [options]="nftType"
          [formControl]="nftTypeCtrl"
          placeholder="Select NFT Type"
        >
          <ng-template pTemplate="selectedItem">
            <span>{{
              nftTypeCtrl.value.name
            }}</span>
          </ng-template>
          <ng-template let-nft pTemplate="nft">
            <span>{{ nft.name }}</span>
          </ng-template>
        </p-dropdown>
        <br>
          <button [disabled]="nftTypeCtrl.invalid" (click)="mint()"  pButton pRipple style="margin:20px  auto"
            type="button" label="Mint" class="p-button-rounded mr-2 mb-2">
          </button>
        </div>
      </div>



    </div>
  </div>
</div>