<div class="grid justify-content-center flex-column align-items-center">


  <div class="col-12">
    <div class="grid justify-content-center">


      <div style="text-align: center" class="col-12">
        <div style="border:unset;height:330px" class="card mb-0">


          <h3>Your NFTs</h3>

          <div class="col-12">
            <div class="grid justify-content-center">
              <div *ngFor="let token of tokensListing">
                {{token.id}}  
              </div>
            </div>
          </div>

          <p-divider></p-divider>
          <p>As We are testing....you can mint your NFT</p>
          <button (click)="mint()"  pButton pRipple style="margin: auto"
            type="button" label="Mint" class="p-button-rounded mr-2 mb-2">
          </button>
        </div>
      </div>



    </div>
  </div>
</div>