<div class="grid justify-content-center flex-column align-items-center">
    <h3>
        <div style="margin:unset" class="col-12 call-out">
            <div class="flex align-items-center justify-content-center">

                <h3>Build your <span style="color: var(--primary-color)">NFT Lending Marketplace </span> with <img style="position:relative;top:8px;"   height="30" src="assets/images/gelato.svg" /></h3>

            </div>
        </div>
    </h3>

    <div class="col-12">
        <div class="grid justify-content-center">


            <div style="text-align: center" class="col-12">
                <div style="border:unset;height:330px" class="card mb-0">
                 
                    <div class="col-12">
                        <div class="grid justify-content-center">
                          <div *ngFor="let nft of listedNFTs">
                        <nft-display (borrowEvent)="borrow($event)" (refreshEvent)="getState()" [route]="'MARKETPLACE'"  [nft]="nft" ></nft-display>
                          </div>
                          <div *ngIf="listedNFTs.length == 0">
                            <h4>No NFT's listed so far</h4>
                          </div>
                        </div>
                      </div>

            
                    <!-- <p style="margin: unset">You can </p> -->

                </div>
            </div>
    


        </div>
    </div>
</div>

<p-dialog
  header="Borrow a NFT?"
  [(visible)]="showBorrowDialog"
  [modal]="true"
  showEffect="fade"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '80vw' }"
>
  <p style="margin-bottom: 5px;" class="line-height-10">

  How many days you want to Borrow at 
    <span *ngIf="toBorrowNFT !== undefined" style="font-weight: bold; color: var(--primary-color)"
      >{{utils.formatEther(toBorrowNFT.cost)}} ETH</span
    > per day?
  </p>
  <p class="">
    <p-inputNumber
      [formControl]="borrowAmountCtrl"
      placeholder="Days"
      [showButtons]="true"
     [min]="0"
     [step]="1"
    >
    </p-inputNumber>
    <br>
    <button
      style="margin:20px"
      pButton
      icon="pi pi-check"
      label="List"
      (click)="doBorrow()"
      class="p-button-outlined"
    ></button>
  </p>

  <ng-template pTemplate="footer">
    <!-- <button pButton icon="pi pi-check" label="Fund" class="p-button-outlined"></button> -->
  </ng-template>
</p-dialog>