<div class="grid justify-content-center flex-column align-items-center">
    <h3>
        <div style="margin:unset" class="col-12 call-out">
            <div class="flex align-items-center justify-content-center">

                <h3>Build your <span style="color: var(--primary-color)">NFT Lending Marketplace </span>with Gelato</h3>

            </div>
        </div>
    </h3>

    <div class="col-12">
        <div class="grid justify-content-center">


            <div style="text-align: center" class="col-12">
                <div style="border:unset;height:330px" class="card mb-0">
                 
                    <div class="col-12">
                        <div class="grid justify-content-center">
                            </div>
                            </div>


                    <h3>Welcome to XX</h3>
                
                    <div>
                        <img height="100" src="assets/images/gelato.svg" />
                    </div>
                    <!-- <p style="margin: unset">You can </p> -->

                </div>
            </div>
    


        </div>
    </div>
</div>