<div style="width:200px;height:220px;padding:20px;border: 1px solid grey;margin:10px;">
<span>{{name}}</span>
<p style="font-size:40px;margin-bottom: 5px;">#{{nft.id}}</p>
<span style="font-weight:bold;background-image: linear-gradient(90deg,#f5c3a6,#b45f63);-webkit-background-clip: text;color:transparent">{{status}}</span>
<br>
<div style="height:20px">
<div  >
    <span>{{cost}} ETH/min</span>
    <br>
</div>
<div *ngIf="status == 'BORROWED'">
  <div *ngIf="route == 'ACCOUNT'">
  <span *ngIf="signerAddress.toLowerCase() == nft.owner.toLowerCase()"> to {{displayAddress(nft.borrower)}}</span>
  <span *ngIf="signerAddress.toLowerCase() != nft.owner.toLowerCase()"> from {{displayAddress(nft.owner)}}</span>
</div>
  <br>
  <br>
</div>
</div>
<button *ngIf="route == 'MARKETPLACE' && status == 'LISTED'"  (click)="borrow()"  pButton pRipple style="margin: 10px auto"
type="button" label="Borrow" class="p-button-rounded mr-2 mb-2">
</button>
<button *ngIf="route == 'ACCOUNT' && status == 'AVAILABLE'"  (click)="list()"  pButton pRipple style="margin: 10px auto"
type="button" label="List" class="p-button-rounded mr-2 mb-2">
</button>
<button *ngIf="route == 'ACCOUNT' && status == 'LISTED'"  (click)="removeList()"  pButton pRipple style="margin: 10px auto"
type="button" label="Remove" class="p-button-rounded mr-2 mb-2">
</button>
</div>
<p-dialog
  header="List your NFT?"
  [(visible)]="showListDialog"
  [modal]="true"
  showEffect="fade"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '80vw' }"
>
  <p style="margin-bottom: 5px;" class="line-height-10">

  Please set the 
    <span style="font-weight: bold; color: var(--primary-color)"
      >target price</span
    > per min in ETH
  </p>
  <p class="">
    <p-inputNumber
      [formControl]="listAmountCtrl"
      placeholder="Target Price per Min"
      [showButtons]="true"
      [maxFractionDigits]="4"
     [min]="0"
     [step]="0.0001"
    >
    </p-inputNumber>
    <br>
    <button
      style="margin:20px"
      pButton
      icon="pi pi-check"
      label="List"
      (click)="doList()"
      class="p-button-outlined"
    ></button>
  </p>

  <ng-template pTemplate="footer">
    <!-- <button pButton icon="pi pi-check" label="Fund" class="p-button-outlined"></button> -->
  </ng-template>
</p-dialog>